.popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.54);
}
.hidden {
  display: none;
}
.close {
  position: absolute;
  right: 22px;
  top: 22px;
}
.form-wrapper {
  position: relative;
  background-color: #fff;
  max-width: 500px;
  min-height: 150px;
  margin: 120px auto;
  border-radius: 50px;
}
